{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <!-- Sidebar Lessons -->
    <div class="col-md-3">
      <h5>{{ course.title }} Lessons</h5>
      <ul class="list-group">
        {% for lesson in lessons %}
          <a class="list-group-item {% if forloop.counter0 == order %}active{% endif %}"
             href="{% url 'lesson_view' course.id forloop.counter0 %}">
            {{ lesson.title }}
          </a>
        {% endfor %}
      </ul>
    </div>

    <!-- Lesson Content -->
    <div class="col-md-9">
      {% if current_lesson %}
        <h3>{{ current_lesson.title }}</h3>
        <p>{{ current_lesson.content|linebreaks }}</p>

        <div class="mt-4">
          {% if order > 0 %}
            <a class="btn btn-outline-secondary" href="{% url 'lesson_view' course.id order|add:'-1' %}">Previous</a>
          {% endif %}
          {% if order < total_lessons|add:'-1' %}
            <a class="btn btn-outline-primary" href="{% url 'lesson_view' course.id order|add:'1' %}">Next</a>
          {% endif %}
        </div>
      {% else %}
        <p>No lesson found.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
